#indexheader{
	width:100%;
}
.header-top{
	width:100%;
	height:0.88rem;
	position:relative;
}
.header-top .user{
	width:0.4rem;
	height:0.4rem;
	position:absolute;
	margin-top:0.23rem;
	left:0.25rem;
	background:url(../img/icon-personal-v2.png)no-repeat;
	background-size:contain;
}
.header-top .logo{
	width:2.4rem;
	height:0.5rem;
	position:absolute;
	left:50%;
	margin:0.2rem;
	margin-left:-1.2rem;
	background:url(../img/logo_2016_v2.png) no-repeat;
	background-size:cover;
}
.header-top .downLoad,.header-top .email{
	width:0.46rem;
	height:0.36rem;
	position:absolute;
	right:0.9rem;
	margin-top:0.26rem;
	background:url(../img/app_download_v2.png)no-repeat;
	background-size:contain;
}
.header-top .email{
	right:0.25rem;
	background:url(../img/icon-email-v2.png) no-repeat;
	background-size:contain;
}
/*content*/
.mian-content{
	width:100%;
	margin-bottom:0.6rem;
}
.mian-content .nav-warp{
	width:100%;
	position:relative;
	background-color:#f33;
    border-top:1px solid #d51c1c;
}
.nav-warp .nav{
	width:100%;
	height:0.8rem;
	display:-webkit-box;
	display: flex;
	padding:0 0.3rem;
	-webkit-box-pack: justify;
	justify-content: space-around;
	box-sizing:border-box;
	position: relative;
}
.nav a{
	text-align:center;
	line-height:0.8rem;
	font-size:0.32rem;
	color:#fff;
	text-decoration: none;
	opacity:0.75;
}
.nav a:nth-child(2){
	opacity: 1;
}
.nav:after{
	content: "";
	display: block;
	position:absolute;
	right:0.3rem;
	width:0.4rem;
	height:0.8rem;
	border-left:.08rem solid #f33;
	background:linear-gradient(to right,#f33 0,rgba(255,51,51,0) 100%);
}
.nav-next{
	width:0.8rem;
	height:100%;
	position:absolute;
	right:0;
	top:0;
	padding-right:0.2rem;
	text-align: center;
	line-height:0.8rem;
	color:#fff;
	box-sizing:border-box;
}
.content-inner{
	width:100%;
}
.swiper-container{
	width:100%;
	height:3.8rem;
}
.swiper-wrapper .swiper-slide img{
	width:100%;
}
/*list-content*/
.list-content{
	width:100%;
	background:#f6f6f6;
}
section{
	background: #f6f6f6;
    width: 6.9rem;
}
.list-item{
	font-size:0.24rem;
	padding:0.2rem 0;
	border-bottom:1px solid #e5e5e5;
	margin:0 0.3rem;
}
.list-item a:after{
	content:"";
	display:block;
	clear:both;
}
.list-img{
	float:left;
	width:30%;
	height:1.4rem;
	position:relative;
	padding-right:0.2rem;
	overflow: hidden;
	box-sizing:border-box;
}
.list-img img{
	width:100%;
}
.list-info{
	width:70%;
	float:left;
	padding-bottom:0.08rem;
}
.list-text{
	font-size:0.34rem;
	color:#404040;
	line-height:0.42rem;
	margin-bottom:0.2rem;
	overflow: hidden;
}
.list-desc{
	width:100%;
	color:#888;
}
.list-desc-l{
	float:left;
}
.list-desc-r{
	float:right;
	line-height:0.37rem;
}
.list-desc-r span{
	margin-right:0.1rem;
}
/*footer*/
.footer{
	width:100%;
	height:0.8rem;
	border-top:1px solid #e5e5e5;
	position:fixed;
	bottom:0;
	background:#fff;
}
.footer-warp{
	width:6.9rem;
	height:0.82rem;
	margin:0 0.3rem;
	display:-webkit-box;
	display:flex;
	text-align:center;
}
.footer-warp li{
	width:25%;
	font-size:0.04rem;
}
.footer-warp li div{
	margin-top:0.06rem;
	font-size:0.36rem;
	color:#aaaaaa;
}
.footer-warp li p{
	font-size:0.04rem;
	margin-top:0.06rem;
}
.footer-active{
	border-top:1px solid #a5a7ab;
}
.footer-warp .footer-active div{
	color:#eb413d;
}
.footer-active p{
	color:#eb413d;
}