
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480861433937'); /* IE9*/
  src: url('iconfont.eot?t=1480861433937#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480861433937') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480861433937') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480861433937#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:0.16rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconziti17:before { content: "\e61a"; color: #505153}

.icon-gengduo:before { content: "\e766";font-size: 0.6rem }

.icon-fanhuiicon:before { content: "\e6fb";font-size: 0.6rem }

.icon-usermsg:before { content: "\e611"; font-size: 0.22rem;color: #BE1212}

.icon-wuhuifu:before { content: "\e67e";font-size: 0.28rem;color:#676A6A }

